.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: rgb(0, 217, 217);
  background: linear-gradient(0deg, #00d9d9 0%, #ff2750 100%);
  min-height: 100vh;
  padding-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listBooks {
  height: 80vh;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .listBooks::-webkit-scrollbar {
    width: 10px;
  }

  .listBooks::-webkit-scrollbar-thumb {
    background: #00d9d9;
    border-radius: 10px;
  }
  .listBooks::-webkit-scrollbar-track {
    background: #9b3548;
    border-radius: 10px;
  }
}

.listComments {
  height: 50vh;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .listComments::-webkit-scrollbar {
    width: 4px;
    right: -10px;
  }

  .listComments::-webkit-scrollbar-thumb {
    background: #00d9d9;
    border-radius: 20px;
  }
  .listComments::-webkit-scrollbar-track {
    background: rgba(255, 39, 80, 0.1);
    border-radius: 20px;
  }
}
